<div class="container" style="text-align: center">
  <div class="row" style="text-align: center">
    <h1 class="text-center col-md-12 p-5" style="font-size: 22px">All Blogs</h1>
    
  </div>
  <div class="row" style="text-align: center" *ngIf="allBlogs.length>0">
    <!-- iterative div starts here -->
    <div *ngFor="let blog of allBlogs" class="col-md-4">

      <div class="card text-center">
        <div class="card-header">{{blog.title | uppercase}}</div>
        <div class="card-body">
          <p>{{blog.description}}</p>
        </div>
        <div class="card-footer text-muted">Posted on {{blog.created | date}}<br/> by {{blog.author}}
          <br/><br/><a [routerLink]="['/blog',blog.blogId]" class="btn btn-primary">Read</a>

        </div>
      </div>

      <br />
    </div>
    <!-- end iterative div -->
  </div>

</div>